{% extends 'base.html.twig' %}

{% block title %}Page Article{% endblock %}

{% block body %}


<div class="container">
    <h1>Article</h1>
    {{dump(article)}}

    This friendly message is coming from:

    <ul>
        <li>Your controller at <code><a href="{{ '/home/olivier/TestStage/spaceblog/src/Controller/FrontController.php'|file_link(0) }}">src/Controller/FrontController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/olivier/TestStage/spaceblog/templates/front/index.html.twig'|file_link(0) }}">templates/front/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}