{% block header %}
<div class="container">
    <div class="d-flex p-2">
            <img class="logonav" src="{{ asset( 'build/Tracé 4.png') }}" >
            <h1>SpaceBlog</h1>      
    </div> 
</div>    
{% endblock %}